body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #000; /* Fondo negro */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000; /* Fondo negro */
}

header {
    background: linear-gradient(to bottom, #000000, #1a1a1a); /* Fondo degradado */
    color: white; /* Texto en blanco */
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* Distribución alineada */
    align-items: center; /* Centrado vertical */
}

.balance-icon {
    max-width: 5rem;
    animation: girar 5s linear infinite;
}
@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.logo {
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

.balance-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #87CEEB; /* Color celeste */
    border-top: none;
    border-radius: 50%;
    position: relative;
    margin-right: 10px; /* Espacio entre icono y texto */
}

/*dibuja una x en el círculo*/
.balance-icon::before,
.balance-icon::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #87CEEB; /* Color celeste */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.balance-icon::before {
    transform: rotate(45deg);
}

.balance-icon::after {
    transform: rotate(-45deg);
}

.logo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía más delicada */
    font-size: 2rem; /* Tamaño del texto */
}

nav {
    flex: 1; /* Ocupa el espacio restante */
    text-align: right; /* Alineación de los enlaces a la derecha */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Eliminar el margen */
}

nav ul li {
    display: inline-block; /* Mostrar los elementos en línea */
    margin-left: 15px; /* Espacio entre elementos */
    text-decoration: none;
    cursor: pointer;
}

nav ul li:first-child {
    margin-left: 0; /* Sin margen izquierdo para el primer elemento */
}

nav ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía más delicada */
    font-size: 0.9rem; /* Tamaño más pequeño */
    color: #87CEEB; /* Color celeste */
    text-decoration: none;
    transition: color 0.3s, transform 0.2s;
}

nav ul li a:hover {
    color: white; /* Color blanco al pasar el cursor */
    transform: scale(1.1); /* Escalar ligeramente al hover */
}

main {
    padding: 2rem;
    background-color: #000; /* Fondo negro */
}

p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}


footer {
    background-color: #000; /* Negro */
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Parte ex carrousel inicio */

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2); /* Más opacidad para mejorar el contraste */
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-caption h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .carousel-caption .btn {
    background-color: #000;
    color: #87CEEB; /* Letras celestes */
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  
  .carousel-caption .btn:hover {
    background-color: #87CEEB; /* Fondo celeste al pasar el cursor */
    color: black; /* Letras blancas al pasar el cursor */
  }
  

/*servicios*/

   /* *********************/
        /* seccion S E R V I C I O S */
        /* *********************/
        
        #servicios {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }
        
        #servicios .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #servicios .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #servicios .fila .servicio {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }
        
        #servicios .fila .servicio:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }
        
        #servicios .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        
        #servicios .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
            color:black;
        }


        .boton-planes .btn{
            background-color: #000;
            color: #87CEEB; /* Letras celestes */
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            border-radius: 5px;
          }
        
        .boton-planes .btn:hover{
            background-color: #87CEEB; /* Fondo celeste al pasar el cursor */
            color: black; /* Letras blancas al pasar el cursor */
        }


/* sección exposiciones */
#exposiciones{
    background-color: #000;
    padding: 100px 0;
}
.titulo-seccion{
    text-align: center;
}
#exposiciones .fila{
    display: flex;
    justify-content: center;
}
#exposiciones .fila .col{
    max-width: 280px;
    border: 2px solid #fff;
    padding: 40px 30px;
    text-align: center;
    transition: .4s;
    margin: 10px;
}
#exposiciones .fila .col:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255,255,255, .8);
}
#exposiciones .fila .col .info{
    margin-bottom: 20px;
    color: #444;
    font-size: 20px;
}
#exposiciones .fila .col span{
    display: block;
    color: #d4d4d4;
}
#exposiciones .fila .col p{
    font-size: 12px;
}
#exposiciones .fila .col button{
    font-size: 12px;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 5px 20px;
    border: 2px solid #fff ;
    background-color: transparent;
    color: #fff;
    transition: .3s;
}
#exposiciones .fila .col button:hover{
    background-color: #fff;
    color: #000;
}






/*proyectos*/
 /* *********************/
        /* seccion P O R T F O L I O */
        /* *********************/
        
        #portfolio {
            max-width: 1100px;
            padding: 100px 0;
            margin: auto;
        }
        
        #portfolio .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #eaeaee;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #portfolio .fila {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
        }
        
        #portfolio .fila .proyecto {
            max-width: 450px;
            border: 1px solid #000;
            margin: 0 10px;
            position: relative;
            overflow: hidden;
        }
        
        #portfolio .fila .proyecto img {
            width: 100%;
            height: 100%;
            ;
            filter: grayscale(0);
            object-fit: cover;
            transition: .5s;
        }
        
        #portfolio .fila .proyecto:hover img {
            filter: grayscale(1);
        }
        
        #portfolio .fila .proyecto .info {
            position: absolute;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #ff5080;
            width: 100%;
            padding: 10px;
            opacity: 0;
            bottom: -40px;
            transition: .5s;
        }
        
        #portfolio .fila .proyecto:hover .info {
            opacity: 1;
            bottom: 0;
        }

        #portfolio .fila .proyecto video {
            width: 100%;
            height: 100%;
           
            object-fit: cover;
            transition: .5s;
        }
        
        #portfolio .fila .proyecto:hover video {
            filter: grayscale(1);
        }



/* Estilo para el párrafo con ícono */
.with-icon {
    display: flex;              /* Cambia el modelo a flexbox */
    justify-content: baseline; /* Distribuye los elementos */
    align-items: center;        /* Alinea verticalmente */
    
}

.info a i{
    font-size:30px;
    color:rgb(180, 3, 3);
    cursor: pointer;
    margin: 10px;
  }




        /*Seccion nosotros*/

        
/* ***************** */
/* SECCION B L O G*/
/* ***************** */
#blog{
    padding: 50px 0;
}
#blog h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.galeria-blog{
    max-width: 800px;
    margin: 50px auto;
}
.galeria-blog .gallery-cell .item{
    display: flex;
    align-items: center;
    margin: 0 80px;
}
.galeria-blog .gallery-cell img{
    display: block;
    width: 100px;
    border-radius: 50%;
    border: 4px solid purple;
    margin-right: 30px;
    
}

.galeria-blog .gallery-cell h3{
    margin-bottom: 7px;
}
.galeria-blog .gallery-cell p{
    color: lightblue;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}
#blog button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    border:none;
    background-color: purple;
    color: lightblue;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

.info h3{
   color: purple; 
   font-family: 'Lato', sans-serif;
   font-weight: 900;
}
#blog h2 {
    color: purple;
    font-family: 'Roboto Slab', serif;
}

.contenedor-blog {
   
    background-image: url(../img/2885170.jpg);
    background-color: rgb(1, 1, 1);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;

}
.info h3:hover{
    color: bisque; 
    font-family: 'Lato', sans-serif;
    font-weight: 900;
 }
 .info a {
    text-decoration: none;
 }

 #blog .animated-title {
    font-size: 3rem;
    font-weight: bold;
    color: purple;
    text-align: center;
    position: relative;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
    animation: glow 3s infinite alternate;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
    }
    100% {
      text-shadow: 0 0 15px rgb(255, 255, 255), 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7);
    }
  }

/* From Uiverse.io by TCdesign-dev */ 
.button_cv {
    display: inline-block;
    border-radius: 7px;
    border: none;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 15px;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   .button_cv span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button_cv span:after {
    content:'CV';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 0.7s;
   }
   
   .button_cv:hover span {
    padding-right: 1.72em;
   }
   
   .button_cv:hover span:after {
    opacity: 4;
    right: 0;
   }
 
 
 /*footer*/

.derechos-de-autor{
    font-size: 15px;
}

.iconos-redes i:hover{
    transform: scale(1.2, 1.2); /* 150% horizontal, 80% vertical */
}

.nosotros img{
    opacity: 80%;
}


.texto-nosotros{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: lightblue;
}


.contenedor-nosotros2 {
    background-color: rgb(1, 1, 1);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
}
.imagen-nosotros2 {
    background-image: url(../img/2885170.jpg);
}


.contenedor-blog {
   
    background-image: url(../img/2885170.jpg);
    background-color: rgb(1, 1, 1);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;

}

.modal-body{
    background-image: url(../img/2885170.jpg);
    background-size: cover;
    background-position: center;
    color:lightblue;
    font-family: 'Lato', sans-serif;
  
}
.modal-header{

    background-color: black;
    
}

.modal-title{
    color:rgb(174, 24, 243);
}
.modal-footer{
    background-color: black;
}

.modal-dialog{
    border: 2px solid lightblue;

}

/*Sección responsiva */


/* Menú hamburguesa oculto en PC y visible en móviles */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsividad */


@media (max-width: 1024px) {
    /* Ajustes para tablets */
}

@media (max-width: 768px) {
    /* Ajustes para celulares */
}
